{
    "swagger": "2.0",
    "info": {
        "description": "API for WSO services like factrak, facebook, dormtrak, course scheduler, and others.",
        "title": "WSO API",
        "contact": {
            "name": "WSO Dev",
            "email": "wso-dev@wso.williams.edu"
        },
        "version": "2.0.0"
    },
    "host": "wso.williams.edu",
    "basePath": "/api/v2",
    "paths": {
        "/auth/api/refresh": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "issues an API JWT by taking an existing API JWT and updating the fields. This calls the db, so it will actually modify the token's payload.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth",
                    "auth-2.0"
                ],
                "summary": "Refresh API Token",
                "operationId": "updateAPIToken",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/api/token": {
            "post": {
                "description": "issues an API JWT given an identity token.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth",
                    "auth-2.0"
                ],
                "summary": "Authenticate API Token",
                "operationId": "getAPIToken",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Identity Token",
                        "name": "identityToken",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/identity/token": {
            "post": {
                "description": "issues an Identity JWT given identity credentials.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth",
                    "auth-2.0"
                ],
                "summary": "Authenticate Identity Token",
                "operationId": "getIdentityToken",
                "parameters": [
                    {
                        "description": "Identity Credentials",
                        "name": "identityCredentials",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/identity.Credentials"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "description": "attempts to get a JWT by logging into server.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Authenticate and Login",
                "operationId": "loginV1",
                "parameters": [
                    {
                        "description": "Login Parameters",
                        "name": "loginParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/old.LoginParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/old.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/refresh-token": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "attempts to get a JWT by taking an existing JWT and refreshing it. This will not change the payload.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Refresh Token",
                "operationId": "refreshTokenV1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/old.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/update-token": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "attempts to get a JWT by taking an existing JWT and updating the fields. This calls the db, so it will actually modify the token's payload.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Update Token",
                "operationId": "updateTokenV1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/old.AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/autocomplete/area-of-study": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Given an input q, this autocompletes the area of study. Results are sorted by levenshtein distance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "autocomplete"
                ],
                "summary": "Autocomplete area of study",
                "operationId": "autocompleteAreaOfStudy",
                "parameters": [
                    {
                        "type": "string",
                        "description": "String to Complete",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/autocomplete.ACEntry"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/autocomplete/course": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Given an input q, this autocompletes the course. Results are sorted by levenshtein distance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "autocomplete"
                ],
                "summary": "Autocomplete course",
                "operationId": "autocompleteCourse",
                "parameters": [
                    {
                        "type": "string",
                        "description": "String to Complete",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/autocomplete.ACEntry"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/autocomplete/factrak": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Given an input q, this autocompletes the professor or course. Results are sorted by levenshtein distance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "autocomplete"
                ],
                "summary": "Autocomplete factrak professors and courses",
                "operationId": "autocompleteFactrak",
                "parameters": [
                    {
                        "type": "string",
                        "description": "String to Complete",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/autocomplete.ACEntry"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/autocomplete/professor": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Given an input q, this autocompletes the professor. Results are sorted by levenshtein distance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "autocomplete"
                ],
                "summary": "Autocomplete professor",
                "operationId": "autocompleteProfessor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "String to Complete",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/autocomplete.ACEntry"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/autocomplete/tag": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Given an input q, this autocompletes the tag. Results are sorted by levenshtein distance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "autocomplete"
                ],
                "summary": "Autocomplete tag",
                "operationId": "autocompleteTag",
                "parameters": [
                    {
                        "type": "string",
                        "description": "String to Complete",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/autocomplete.ACEntry"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/books/{bookID}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "get a book by book id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "books"
                ],
                "summary": "Get book by book id",
                "operationId": "getBook",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Book ID",
                        "name": "bookID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Book"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/booktrak/books": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists all books. Order by creation date.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "List books",
                "operationId": "listBooks",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Book Title",
                        "name": "title",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Book Publisher",
                        "name": "publisher",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Book ISBN-13 (must be in ISBN format)",
                        "name": "isbn",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Book"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "create a book",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "Create a book if it doesn't exist already",
                "operationId": "createBook",
                "parameters": [
                    {
                        "description": "Create Book Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/booktrak.CreateBookParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.Book"
                        }
                    },
                    "2251": {
                        "description": "failed to find book online by isbn",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/booktrak/books/{bookID}": {
            "patch": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "update a book's courses",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "Update book",
                "operationId": "updateBookCourses",
                "parameters": [
                    {
                        "description": "Update Book Params",
                        "name": "updateParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/booktrak.UpdateBookCoursesParams"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Book ID",
                        "name": "bookID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Book"
                        }
                    },
                    "2253": {
                        "description": "some courses could not be found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/booktrak/listings": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists all book listings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "List book listings",
                "operationId": "listBookListings",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Course ID",
                        "name": "courseID",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "User ID",
                        "name": "userID",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Book ISBN-13",
                        "name": "isbn",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "POOR",
                            "FAIR",
                            "GOOD",
                            "VERY_GOOD",
                            "LIKE_NEW",
                            "NEW"
                        ],
                        "type": "string",
                        "description": "Minimum Book Condition",
                        "name": "minCondition",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "POOR",
                            "FAIR",
                            "GOOD",
                            "VERY_GOOD",
                            "LIKE_NEW",
                            "NEW"
                        ],
                        "type": "string",
                        "description": "Maximum Book Condition",
                        "name": "maxCondition",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Type of the listing",
                        "name": "listingType",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "user",
                                "book"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload",
                        "name": "preload",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.BookListing"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "create a book listing",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "Create book listing",
                "operationId": "createBookListing",
                "parameters": [
                    {
                        "description": "Create Book Listing Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/booktrak.CreateBookListingParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.BookListing"
                        }
                    },
                    "2232": {
                        "description": "invalid book condition",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/booktrak/listings/{bookListingID}": {
            "put": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "update a book listing",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak"
                ],
                "summary": "Update book listing",
                "operationId": "updateBookListing",
                "parameters": [
                    {
                        "description": "Create Book Listing Params",
                        "name": "updateParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/booktrak.CreateBookListingParams"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Book Listing ID",
                        "name": "bookListingID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BookListing"
                        }
                    },
                    "2232": {
                        "description": "invalid book condition",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "delete a book listing",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "booktrak",
                    "booktrak-admin",
                    "admin"
                ],
                "summary": "Delete book listing",
                "operationId": "deleteBookListing",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Book Listing ID",
                        "name": "bookListingID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BookListing"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/bulletins": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists all bulletins",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List bulletins",
                "operationId": "listBulletins",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload List",
                        "name": "preload",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Bulletin Type",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Bulletin"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Create a bulletin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Create bulletin",
                "operationId": "createBulletin",
                "parameters": [
                    {
                        "description": "Create Bulletin Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.CreateBulletinParams"
                        }
                    }
                ],
                "responses": {
                    "1101": {
                        "description": "request data validation failed",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1830": {
                        "description": "start date cannot be after end date",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1831": {
                        "description": "invalid bulletin type",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.Bulletin"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/bulletins/{bulletinID}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get bulletin by ID with user preloaded",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Get bulletin",
                "operationId": "getBulletin",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Bulletin ID",
                        "name": "bulletinID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Bulletin"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Deletes a bulletin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Delete bulletin",
                "operationId": "deleteBulletin",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Bulletin ID",
                        "name": "bulletinID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Bulletin"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Updates a bulletin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Update bulletin",
                "operationId": "updateBulletin",
                "parameters": [
                    {
                        "description": "Update Bulletin Params",
                        "name": "updateParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.UpdateBulletinParams"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Bulletin ID",
                        "name": "bulletinID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1830": {
                        "description": "start date cannot be after end date",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Bulletin"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/discussion/{discussionID}": {
            "delete": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Deletes a discussion (must be admin)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Delete discussion",
                "operationId": "deleteDiscussion",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Discussion ID",
                        "name": "discussionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Discussion"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/discussions": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists all bulletin discussions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List discussions",
                "operationId": "listDiscussions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload List",
                        "name": "preload",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Get Last Post (get last/latest post of the discussion)",
                        "name": "getLastPost",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Discussion"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Creates a discussion",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Create discussion",
                "operationId": "createDiscussion",
                "parameters": [
                    {
                        "description": "Create Discussion Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.CreateDiscussionParams"
                        }
                    }
                ],
                "responses": {
                    "1101": {
                        "description": "request data validation failed",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1332": {
                        "description": "authenticated user not found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.Discussion"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/discussions/{discussionID}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get discussion by ID with user, posts, and posts.user preloaded",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Get discussion",
                "operationId": "getDiscussion",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Discussion ID",
                        "name": "discussionID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload List",
                        "name": "preload",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Discussion"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/discussions/{discussionID}/posts": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "gets all posts in a discussion",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Get discussion posts",
                "operationId": "getDiscussionPosts",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Discussion ID",
                        "name": "discussionID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload List",
                        "name": "preload",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Post"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/posts": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Creates a post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Create post",
                "operationId": "createPost",
                "parameters": [
                    {
                        "description": "Create Post Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.CreatePostParams"
                        }
                    }
                ],
                "responses": {
                    "1101": {
                        "description": "request data validation failed",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1332": {
                        "description": "authenticated user not found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1850": {
                        "description": "discussion cannot be found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.Post"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/posts/{postID}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get post by ID with user, posts, and posts.user preloaded",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Get post",
                "operationId": "getPost",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Post ID",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Post"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Deletes a post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Delete post",
                "operationId": "deletePost",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Post ID",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Post"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Updates a post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Update post",
                "operationId": "updatePost",
                "parameters": [
                    {
                        "description": "Update Post Params",
                        "name": "updateParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.UpdatePostParams"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Post ID",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Post"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rides": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists all bulletin rides",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List rides",
                "operationId": "listRides",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Preload List",
                        "name": "preload",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ride Type (request, offer)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Rides (no restriction on date)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.BulletinRide"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Creates a ride",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Create ride",
                "operationId": "createRide",
                "parameters": [
                    {
                        "description": "Create Ride Params",
                        "name": "createParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.CreateRideParams"
                        }
                    }
                ],
                "responses": {
                    "1101": {
                        "description": "request data validation failed",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1830": {
                        "description": "date cannot be in past",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.BulletinRide"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rides/{rideID}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get bulletin ride by ID with user preloaded",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Get ride",
                "operationId": "getRide",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Ride ID",
                        "name": "rideID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BulletinRide"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Deletes a ride",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Delete ride",
                "operationId": "deleteRide",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Ride ID",
                        "name": "rideID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BulletinRide"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Updates a ride",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "Update ride",
                "operationId": "updateRide",
                "parameters": [
                    {
                        "description": "Update Ride Params",
                        "name": "updateParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bulletin.UpdateRideParams"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Ride ID",
                        "name": "rideID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "1331": {
                        "description": "must be self",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "1830": {
                        "description": "date cannot be in past",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BulletinRide"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/announcement": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists announcement bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List announcement bulletins RSS",
                "operationId": "listAnnouncementRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/discussion": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists discussion bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List discussion bulletins RSS",
                "operationId": "listDiscussionRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/exchange": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists exchange bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List exchange bulletins RSS",
                "operationId": "listExchangeRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/job": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists job bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List job bulletins RSS",
                "operationId": "listJobRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/lostAndFound": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists lost and found bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List lost and found bulletins RSS",
                "operationId": "listLostAndFoundRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/bulletin/rss/ride": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "lists ride bulletins in RSS",
                "produces": [
                    "text/xml"
                ],
                "tags": [
                    "bulletins"
                ],
                "summary": "List ride bulletins RSS",
                "operationId": "listRideRss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start Pagination (timestamp)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset Pagination",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit Pagination",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ride Type (request, offer)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Get All Bulletins (no restriction on startDate, endDate)",
                        "name": "all",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A RSS Feed serialized as XML string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/services.BaseErrorResponse"
                        }
                    }
                }
            }
        },
        "/chat/auth/token": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "gets auth JWT token of chat feature",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "chat"
                ],
                "summary": "Get Chat Auth JWT token",
                "operationId": "getChatAuthToken",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
[...]
